<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href=""?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<bean class="com.springimplant.model.Student" name="Student1">
	<property name="studentId">
		<value>123</value>
	</property>
	<property name="studentName">
		<value>Gaurav</value>
	</property>
	<property name="studentAddress">
		<value>Delhi</value>
	</property>
	<property name="weekAttendence">
		<value>1</value>
	</property>
		<property name="subjects">
		<set>
		</set>
	</property>
</bean>

<bean class="com.springimplant.model.Student" name="Student2">
	<property name="studentId" value="234"/>
	<property name="studentName" value="Manu"/>
	<property name="studentAddress" value="Bangalore" />
	<property name="subjects">
		<set>
			<value>Maths</value>
			<value>English</value>
			<value>Hindi</value>
			<value>Knowledge</value>
		</set>
	</property>
	<property name="weekAttendence">
		<list>
			<value>1</value>
			<value>0</value>
			<value>1</value>
			<value>1</value>
			<value>0</value>
			<null/>
		</list>
	</property>
	<property name="marks">
		<map>
			<entry key="Maths" value="50"></entry>
			<entry key="English" value="60"></entry>
			<entry key="Hindi" value="80"></entry>
			<entry key="Knowledge" value="90"></entry>
		</map>
	</property>
	<property name="attendenceKeys">
		<props>
			<prop key="Present">1</prop>
			<prop key="Absent" >0</prop>
		</props>
	</property>
</bean>

<bean class="com.springimplant.model.Student" name="Studentp" p:studentId="345" p:studentName="Nikhil" p:studentAddress="Hyderabad"/>
</beans>