<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
   	<listener>
		<listener-class>org.javaimplant.newsfeed.Init.Init</listener-class>
	</listener>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>newsfeed</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.NewsFeedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>news</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>root</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.RootServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>list-news-item</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.ListNewsItemsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>view-news-item</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.ViewNewsItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>edit-news-item</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.EditNewsItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>create-news-item</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.CreateNewsItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>delete-news-item</servlet-name>
		<servlet-class>org.javaimplant.newsfeed.Servlets.DeleteNewsItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete-news-item</servlet-name>
		<url-pattern>/delete-news-item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>create-news-item</servlet-name>
		<url-pattern>/create-news-item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>edit-news-item</servlet-name>
		<url-pattern>/edit-news-item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>view-news-item</servlet-name>
		<url-pattern>/view-news-item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>list-news-item</servlet-name>
		<url-pattern>/list-news-items</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>root</servlet-name>
		<url-pattern>/root</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newsfeed</servlet-name>
		<url-pattern>/news.rss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>news</servlet-name>
		<url-pattern>/news</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>dataSource</description>
		<res-ref-name>datasource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
